header, footer {
    position: fixed;
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 4px;
    height: 10%;
}
header, footer, div.top {
    left: 0;
    width: 100%;
}
header {
    top: 0;
}
footer {
    bottom: 0;
}
header div.gradient {
    position: fixed;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 90%;
    background: linear-gradient(#0000FF, #00003F);
}
footer div.gradient {
    position: fixed;
    width: 100%;
    height: 20px;
    left: 0;
    top: 90%;
    background: linear-gradient(#00003F, #0000FF);
}
h1 {
    margin: 0;
}
h1, h2 {
    text-align: center;
}
a {
    color: #007FFF;
}
div.ctrl {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 4px;
}
.btn {
    border-radius: 16px;
}
.btn.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -2px;
}
.btn.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
}
div.top {
    position: fixed;
    top: 10%;
    height: 80%;
    background-color: #000044;
}
div.correct, div.incorrect {
    background-color: #0000AA;
    width: 49.5%;
    height: 100%;
    top: 10%;
    position: fixed;
}
div.correct {
    left: 0;
}
div.incorrect {
    right: 0;
}
div.before, div.after {
    background-color: #0000CC;
    width: 100%;
    height: 39.75%;
}
div.after {
    margin-top: 1.5%;
}
div.label {
    position: fixed;
    bottom: 50%;
    font-size: 1.2em;
}
div.correct div.label {
    left: 0;
}
div.incorrect div.label {
    right: 0;
}
canvas {
    width: 100%;
    height: 100%;
}
